
<div *ngIf="userExtra">
    <h2><span jhiTranslate="keken2App.userExtra.detail.title">User Extra</span> {{userExtra.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="keken2App.userExtra.biereFavoriteId">Biere Favorite Id</span></dt>
        <dd>
            <span>{{userExtra.biereFavoriteId}}</span>
        </dd>
        <dt><span jhiTranslate="keken2App.userExtra.userId">User Id</span></dt>
        <dd>
            <span>{{userExtra.userId}}</span>
        </dd>
        <dt><span jhiTranslate="keken2App.userExtra.image">Image</span></dt>
        <dd>
            <span>{{userExtra.image}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
