<div>
    <h2>
        <span jhiTranslate="keken2App.biere.home.title">Bieres</span>
        <button class="btn btn-primary float-right create-biere" [routerLink]="['/', { outlets: { popup: ['biere-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="keken2App.biere.home.createLabel">
            Create new Biere
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bieres">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="keken2App.biere.nom">Nom</span></th>
            <th><span jhiTranslate="keken2App.biere.type">Type</span></th>
            <th><span jhiTranslate="keken2App.biere.degreeAlc">Degree Alc</span></th>
            <th><span jhiTranslate="keken2App.biere.brasseur">Brasseur</span></th>
            <th><span jhiTranslate="keken2App.biere.pays">Pays</span></th>
            <th><span jhiTranslate="keken2App.biere.ville">Ville</span></th>
            <th><span jhiTranslate="keken2App.biere.image">Image</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let biere of bieres ;trackBy: trackId">
                <td><a [routerLink]="['../biere', biere.id ]">{{biere.id}}</a></td>
                <td>{{biere.nom}}</td>
                <td jhiTranslate="{{'keken2App.TypeBiere.' + biere.type}}">{{biere.type}}</td>
                <td>{{biere.degreeAlc}}</td>
                <td>{{biere.brasseur}}</td>
                <td>{{biere.pays}}</td>
                <td>{{biere.ville}}</td>
                <td>{{biere.image}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../biere', biere.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'biere/'+ biere.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'biere/'+ biere.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
