
<div *ngIf="biere">
    <div id="presentationImage">
        <img src="{{biere.image}}">
    </div>
    <div>
        <h2>
            <span>{{biere.name}}</span>
        </h2>
    </div>

    <div id="biereContentContainer">
        <p>
            <span><span class="fa fa-thumbs-up fa-2x"></span> {{biere.usersLikes}}</span>
            <span>note : </span>
            <span><span class="fa fa-comments-o fa-2x"></span> {{biere.commentaires.length}} </span>
        </p>
        <p>
            <span>@ {{biere.brasseur}} </span>
            <span>{{biere.type}}</span>
        </p>
        <p>
            <span>{{biere.pays}}</span>
            <span>{{biere.ville}}</span>
            <span>{{biere.degreeAlc}}</span>
        </p>
    </div>
</div>
